# Auto detect text files and perform LF normalization
* text=auto
Assets/Prefabs/Level/Room/GameSceneRooms.prefab filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/GameScene.unity filter=lfs diff=lfs merge=lfs -text
